<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
</head>

<body>
    <h1>Регистрация</h1>
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li style="color: red;">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label for="full_name">ФИО:</label><br>
        <input type="text" id="full_name" name="full_name" required><br><br>

        <label for="phone_number">Номер телефона:</label><br>
        <input type="text" id="phone_number" name="phone_number" required><br><br>

        <label for="pickup_point">ПВЗ:</label><br>
        <input type="text" id="pickup_point" name="pickup_point" required><br><br>

        <label for="address">Адрес:</label><br>
        <textarea id="address" name="address" required></textarea><br><br>

        <label for="warehouse_address">Адрес склада:</label><br>
        <textarea id="warehouse_address" name="warehouse_address" required></textarea><br><br>

        <label for="password">Пароль:</label><br>
        <input type="password" id="password" name="password" required><br><br>

        <label for="password_confirmation">Подтверждение пароля:</label><br>
        <input type="password" id="password_confirmation" name="password_confirmation" required><br><br>

        <button type="submit">Зарегистрироваться</button>
    </form>
</body>

</html>