<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
</head>

<body>
    <h1>Регистрация</h1>
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li style="color: red;">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="chat_id" value="{{ chat_id }}">
        <label>ФИО:</label>
        <input type="text" name="full_name" required>
        <label>Номер телефона:</label>
        <input type="text" name="phone_number" required>
        <label>Пункт выдачи:</label>
        <input type="text" name="pickup_point" required>
        <label>Адрес:</label>
        <input type="text" name="address" required>
        <label>Адрес склада:</label>
        <input type="text" name="warehouse_address" required>
        <label>Пароль:</label>
        <input type="password" name="password" required>
        <label>Подтверждение пароля:</label>
        <input type="password" name="password_confirmation" required>
        <button type="submit">Зарегистрироваться</button>
    </form>
</body>

</html>